<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% if row %}CSV Editor- Edit{%else%}CSV Editor - Add new record{%endif%}</title>
	<address>
	Written by <a href="mailto:shuxin.jin@h?tmail.com">Shuxin Jin</a>.<br> 
	</address>
</head>

<body>
    <form action={% if row %}/save_edited_story/{{row[0]}}{% else %}/save_story{% endif %} method="POST">
        <h1>{% if row %}CSV Editor- Edit{%else%}CSV Editor  - Add new{%endif%}</h1>
        <label for="story titles"></label><br>
        <textarea name="storytitles">{% if row %}{{row[1]}}{%endif%}</textarea><br>
        <label for="user story">User Story</label><br>
        <textarea name="userstory">{% if row %}{{row[2]}}{%endif%}</textarea><br>
        <label for="acceptance">Acceptance criteria</label><br>
        <textarea name="acceptance">{% if row %}{{row[3]}}{%endif%}</textarea><br>
        <label for="Business Value">Business Value</label><br>
        <input name="business" type="number" value={% if row %}{{row[4]}}{%else%} "1000"{%endif%} min="100" max="1500" step="100"
        /><br>
        <label for="Estimation (h)">Estimation (h)</label><br>
        <input name="estimation" type="number" value={% if row %}{{row[5]}}{%else%} "2.5"{%endif%} min="0.5" max="40" step="0.5"
        /><br>
        <p>Status</p>
        <select name="status">
                {%if row%}<option selected="selected" value={{row[6]}}>{{row[6]}}</option>{%endif%}
                <option value="Planning">Planning</option>
                <option value="TODO">TODO</option>
                <option value="in Progress">in Progress</option>
                <option value="Review">Review</option>
                <option value="Done">Done</option>
            </select>
        <br><br><br><br>
        <button type="submit">create</button>
    </form>
</body>

</html>